.form-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 18px 24px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 16px;
}

.form-container select.form-control {
  appearance: auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-label {
  font-size: 0.8rem;
  font-weight: 500;
  color: #555;
}

.form-control {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 1rem;
}

.form-button {
  padding: 12px 16px;
  border: none;
  border-radius: 15px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-top: 5px;
}

.form-button:hover {
  background-color: #0056b3;
}


@media (min-width: 992px) {
  .main-form-container {
    padding: 0px 150px;
  }

  .form-container {
    flex-direction: row;
    align-items: flex-end;
    gap: 12px;
  }

  .form-group {
    flex: 1;
  }

  .description-group {
    flex: 3;
  }

  .form-button {
    flex-shrink: 0;
    padding: 8px 20px;
    font-size: 0.9rem;

  }
}
