.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 24px 24px;
  max-width: 600px;
  margin: 0px auto;
  border-radius: 12px;
}

.register-container h2 {
  margin-top: 5px;
  margin-bottom: 10px;
}


.register-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-label {
  font-size: 0.9rem;
  font-weight: 500;
  color: #333;
}

.form-control {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.9rem;
}

.form-button {
  padding: 12px 16px;
  margin-top: 8px;
  border: none;
  border-radius: 8px;
  background-color: #28a745;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.form-button:hover {
  background-color: #218838;
}

.show-password-group {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.9rem;
  color: #555;
}

.register-links {
  margin-top: 24px;
  font-size: 0.9rem;
}

.register-links a {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
}

@media (min-width: 768px) {

  .register-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px 16px;

  }

  .full-width {
    grid-column: 1 / -1;
  }
}
